<!DOCTYPE html>
<html>
<head>
  <title>Drunk Cupcakes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- mobile nav bar -->
  <div class="title-bar topbar-center-logo-mobile" data-responsive-toggle="topbar-center-logo" data-hide-for="medium">
    <div class="title-bar-left">
      <div class="title-bar-title"><%= image_tag("DrunkCupcakes.png") %></div>
    </div>
    <div class="title-bar-right">
      <button class="menu-icon" type="button" data-toggle="topbar-center-logo"></button>
    </div>
  </div>
  <!-- /mobile nav bar -->

  <!-- medium and larger nav bar -->
  <div class="top-bar topbar-center-logo" id="topbar-center-logo">
    <div class="top-bar-left">
      <ul class="menu vertical medium-horizontal">
        <li><a href="/">Home</a></li>
        <li><a href="/search">Search</a></li>
      </ul>
    </div>
    <div class="top-bar-center">
      <a href="/"><%= image_tag("DrunkCupcakes.png") %></a>
    </div>
    <div class="top-bar-right">
      <ul class="menu vertical medium-horizontal">
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></button></li>
          <li><a href="/users/<%= current_user.id %>">Account</a></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></button></li>
          <li><%= link_to 'Sign In', new_user_session_path %></button></li>
        <%- end -%>
      </ul>
    </div>
  </div>
  <!-- /medium and larger nav bar -->

  <div class="grid-container fluid">
    <div class="grid-x align-center align-middle grid-margin-x grid-margin-y grid-padding-x grid-padding-y">

      <%- flash.each do |key, value| -%>
        <div class="cell large-12 text-center flash flash-<%= key %>">
          <%= value %>
        </div>
      <%- end -%>
 
    </div>

    <%= yield %>

    </div>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
  <div class="grid-x footer align-middle grid-padding-x align-self-bottom">
    <div class="cell medium-6">
      <h5>created with love, by Kay DC</h5>
    </div>
    <div class="cell medium-6 align-end">
      <ul>
        <li class="icons"><a href="https://github.com/kaydc18"><%= image_tag("gitHubIcon.png") %></a></li>
        <li class="icons"><a href="https://www.linkedin.com/in/kdiciaccio/"><%= image_tag("linkedinIcon.png") %></a></li>
      </ul>
    </div>
  </div>
</body>
</html>
